$font-open-sans: 'Open Sans', sans-serif;
$font-oswald: 'Oswald', sans-serif;

$regular: 400;
$medium: 600;
$bold: 700;



$primary-color: #ED1A3B;
$secondary-color: black;
$button-color: white;
$font-color: white;
$button-hover-text-color: #EFAD4D;
$active-button-color: #EFAD4D;
$search-hover-button: #c48d3c;
$footer-color: #6a6a64;


$header-font-size: 16pt;
$card-title-font-size: 16pt;
$card-description-font-size: 12pt;
$footer-font-size: 16pt;