@import './variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5pt 30pt;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row ;
    text-align: start;
    align-items: baseline;
}

.header h1{
    font-weight: $bold;
    font-family: $font-oswald;
    margin-right: 5pt;
    font-size: 30pt;
}

.header h3  {
    font-weight: $bold;
    font-family: $font-oswald;
    opacity: 0.5;
    font-size: 18pt;
}

.searchContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10pt;
  margin-top: -10pt;
  
}

.searchContainer input {
  width: 100%;
  padding: 0 10pt;
  font-family: $font-open-sans;
  font-size: $card-description-font-size;
}

.searchContainer button {
  font-family: $font-oswald;
  font-weight: $regular;
  color: $font-color;
  background-color: $active-button-color;
  border: none;
  font-size: $header-font-size;
  padding: 3pt 50pt;

  &:hover {
    background-color: $search-hover-button;
  }
}

.divider {
    width: 100%;
    border: 1px solid black; 
    margin: 30pt 0; 
    opacity: 0.2;
  }

.cardList {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  gap: 20pt;
  width: 100%;
}

.cardList > * {
  width: 100%;
}
